:root {
  --primary-color: #a85151;
  --secondary-color: #997a75;
  --copytext-color: #404040;
}
p {
  font-family: "Poppins", sans-serif;
  color: var(--copytext-color);
  font-size: medium;
  border: 1px solid skyblue;
  text-align: center;
  padding: 5px 20px;
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--primary-color);
  text-align: center;
  font-size: 48px;
  border: 1px solid skyblue;
}

h2 {
  font-family: "Playfair Display", serif;
  color: var(--secondary-color);
  text-align: center;
  font-size: 36px;
  border: 1px solid skyblue;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: var(--copytext-color);
  font-weight: bold;
  font-size: 28px;
  border: 1px solid skyblue;
  padding-left: 20px;
}

.imgregular {
  display: block;
  width: 90%;
  margin: auto;
  padding: 20px;
  border: 1px solid skyblue;
}

ul {
  border: 1px solid skyblue;
}

video {
  width: 90%;
  height: auto;
  display: block;
  margin: 0, auto;
}

.videocontainer {
  display: flex;
  justify-content: center;
  width: 600px;
  border: 1px solid skyblue;
  margin: 0 auto;
  padding-bottom: 20px;
}

.navmenu {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  padding-right: 20px;
  border: 1px solid skyblue;
}

nav {
  padding: 5px 0;
}

nav a {
  text-decoration: none;
  color: var(--copytext-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav a.active {
  color: var(--primary-color);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 100px;
  font-family: "Poppins", sans-serif;
  margin-left: 20px;
}
.container {
  width: 500px;
  padding-bottom: 25px;
}

.surveylink {
  background-color: #e4d3d3;
  color: var(--copytext-color);
  padding: 10px 10px;
  margin: 20px auto;
  text-decoration: none;
  border: 1px, solid, var(--copytext-color);
}
