p {
  font-family: "Poppins", sans-serif;
  color: rgb(68, 66, 66);
}

h1 {
  font-family: "Playfair Display", serif;
  color: rgb(211, 113, 96);
  text-align: center;
}
h2 {
  font-family: "Playfair Display", serif;
  color: rgb(153, 122, 117);
  text-align: center;
}
img{
    display: block;
    margin:0 auto;
    max-width: 100%;
    border-radius: 10px;
}
}
